.active{
    color : #1890ff !important;
    text-decoration: underline;
}

.jodit-workplace{
    min-height: 500px;
}

.darkBackground{
    background-color: black;
}

.ant-upload-drag{
    height: 150px !important;
}

